.anu {
   margin-left: 80px;
   margin-top: 150px; 
  justify-content: center; 
  align-items: center;

  min-height: 100vh;
  text-align: center;
}
.yes {
  margin: 0;
  align-items: flex-start;
}

h1 {
  margin: 0;
  margin-bottom: .5rem;
}

.input {
  border: 1px solid #333;
  border-radius: .3em;
  padding: .25rem;
  width: 7em;
}

select {
  margin-left: .5rem;
}

.equals {
  font-weight: bold;
  font-size: 2rem;
}

.container1 {
  margin: 0px;
  padding: 0%;
  background: linear-gradient(#3e8abd, #8e44ad);
  height: 400px;
  width: 350px;
  position: absolute;
  top: 30%;
  left: 40%;
 }
.rit {
  text-align: center;
}
.main {
   justify-content: center;
   align-items: center;
  text-align: center;
  background-color:transparent;
}
.inp{
  width: 300px;
  background: wheat;
  height: 50px;
  text-align: center;
  margin: 2%;
}
.inp1{
  width: 200px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-left: 45px;
}
.inp2{
  text-align: center;
}

.inp3{
  text-align: center;
  background-color: wheat;
  width: 70px;
  margin-left: 150px;
}
